
li {
  border: 2px solid black;
}
a {
  color: blue;
}
div {
  border: 1px solid black;
}
div a {
  color: green;
}
#excercise { border: 3px solid green;
}
.boxcol { background-color: lightgray;
}
.boxborder { background-color: yellow;
}
